body 
    background-color: #fff
    margin: 0px

.header
    .title-header
        text-align: center
        padding-bottom: 10px
        // border: 1px solid red
        h3 
            // border: 1px solid black
            margin: 0px
        h4
            // border: 1px solid black
            margin: 0px
    .details-budget
        .document
            text-align: center
            border: 0px
            .x-container
                .x
                    font-size: 30px
                    border: 1px solid black
                    padding: 5px
                    text-align: center
        .info
            margin: 10px
            .title
                font-weight: bold

.detail-table table
    margin: 0 auto 
    width: 100%   
    thead
        background: #999999
    tfoot
        border-top: 1px solid black
    th, td
        text-align: center
        padding: 5px 20px
        margin: 0px

.balance
    font-weight: bold

.mtop16
    margin-top: 16px
   
        
                
    



    

    